/*CSS for index.html*/

html, body {
  margin : 0;
  height: 100%;
  background-image: url("../img/backgroundimage.png");
  background-size: cover;
  overflow: hidden;
}
h1 {
  margin: 0;
  text-align: center;
  color: white;
  padding:30px;
}

h2 {
  margin:0;
  margin-bottom: 5px;
  text-align: center;
  color: white;
}

h3 {
  margin: 0;
  text-align: center;
  color: white;
}

p {
  color: white;
  text-align: center;
  margin-top: 0;
}

canvas {
  border: 1px solid black;
  background-color: white;
}

.content {
  position: relative;
  min-height:100%;
  padding-bottom:19px;
  display: grid;
  grid-gap: 0;
  margin: auto;
  width: 70%;
  height: inherit;
  background: url("../img/contentbackground.png");
  background-size: cover;
  overflow-y: hidden;
}


#footer {
  margin-top: 30px;
  margin-bottom: 30px;
  height:70px;
  color: #FFFFFF;
  grid-column: 1 / 3;
}

#footer-div {
  align-conent: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
#canvasDiv {
  width: 550px;
  height: 550px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.sns-img {
  float: left;
  margin-right: 10px;
  margin-left: 10px;
}

#side-tab {
  /*height: 100%;
  width: 100%;*/
  max-height: 50%;
}

.mainmenu, .submenu {
  list-style-type: none;
  padding:0;
  margin:0;
}

.mainmenu a{
  display: block;
  background: rgba(71,67,71,0.8);
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.mainmenu a:hover {
  background-color: rgba(197,197,197,1);
}

.mainmenu li:hover .submenu {
  display:block;
  max-height: 200px;
}

.submenu a {
  background-color: #999;
}

.submenu a:hover {
  background-color: #666;
}

.submenu {
  overflow: hidden;
  max-height: 0;
  text-indent: 15px;
  -webkit-transition: all 0.8s ease-out;
}

.inner-content{
  display: grid;
  grid-template-columns: 1fr 4fr;
  min-height: 85%;
  /*overflow-y:  auto;*/
}

#game-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 1em;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 85%;
  height: 550px:
}

.table-items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.game-image{
  width:100%;
  height: auto;
  border-radius: 10px;
}

.game-info {
  width:70%;
  height:auto;
}

.game-button {
  background: #044b7a;
  background-image: -webkit-linear-gradient(top, #044b7a, #000000);
  background-image: -moz-linear-gradient(top, #044b7a, #000000);
  background-image: -ms-linear-gradient(top, #044b7a, #000000);
  background-image: -o-linear-gradient(top, #044b7a, #000000);
  background-image: linear-gradient(to bottom, #044b7a, #000000);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.game-button:hover {
  background: #8a898f;
  background-image: -webkit-linear-gradient(top, #8a898f, #141314);
  background-image: -moz-linear-gradient(top, #8a898f, #141314);
  background-image: -ms-linear-gradient(top, #8a898f, #141314);
  background-image: -o-linear-gradient(top, #8a898f, #141314);
  background-image: linear-gradient(to bottom, #8a898f, #141314);
  text-decoration: none;
}

#inGameButton {
  margin: auto;
  position: fixed;
  visibility: visible;
  text-align: center;
  display: block;
  margin-top: 250px;
  margin-left: 240px;
}

.buttonContainer {
  display: grid;
  width: 500px;
  grid-template-columns: 1fr;
  justify-self:center;
  margin: auto;
}
.buttonGrid {
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
.stageButton {
  background: #7dcbff;
  background-image: -webkit-linear-gradient(top, #7dcbff, #1a8ed6);
  background-image: -moz-linear-gradient(top, #7dcbff, #1a8ed6);
  background-image: -ms-linear-gradient(top, #7dcbff, #1a8ed6);
  background-image: -o-linear-gradient(top, #7dcbff, #1a8ed6);
  background-image: linear-gradient(to bottom, #7dcbff, #1a8ed6);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
}

:disabled {
  background: rgba(173,189,199,0.9);
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  cursor: not-allowed;
  pointer-events: none;
}
.stageButton:hover {
  background: #3c8fc2;
  background-image: -webkit-linear-gradient(top, #3c8fc2, #84cbfa);
  background-image: -moz-linear-gradient(top, #3c8fc2, #84cbfa);
  background-image: -ms-linear-gradient(top, #3c8fc2, #84cbfa);
  background-image: -o-linear-gradient(top, #3c8fc2, #84cbfa);
  background-image: linear-gradient(to bottom, #3c8fc2, #84cbfa);
  text-decoration: none;
}
